<!DOCTYPE html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta name="keywords" lang="en-gb" content="{{page_keywords}}">
    <meta name="copyright" content="{{page_author}}">
    <meta name="author" content="{{page_author}}">
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="icon" type="image/svg+xml" href="favicon.svg">
    <link rel="icon" type="image/png" href="favicon.png">
    <title>Ocean Task - Chris Doughty</title>
  </head>

  <body class="background_{{background_color}}">

    <div class="container">

      {% block pageContent %}

      {% endblock %}

    </div>

    <script>

      document.getElementById('tyres').addEventListener('click', showTyreGrid);
      document.getElementById('colours').addEventListener('click', showColourGrid);

      function showTyreGrid() {

        let allSelectors = document.getElementsByClassName('gridSelector');
      
        for (let a = 0; a < allSelectors.length; a++) {
            allSelectors[a].classList.remove('active');
            allSelectors[a].classList.remove('solidWhite');
            allSelectors[a].classList.add('bordered');
        }

        let allGrids = document.getElementsByClassName('itemGrid');

        for (let a = 0; a < allGrids.length; a++) {
          allGrids[a].classList.remove('active');
        }

        this.classList.add('active');
        this.classList.add('solidWhite');

        document.getElementById('tyreGrid').classList.add('active');
      }

    function showColourGrid() {
        
        let allSelectors = document.getElementsByClassName('gridSelector');
      
        for (let a = 0; a < allSelectors.length; a++) {
            allSelectors[a].classList.remove('active');
            allSelectors[a].classList.remove('solidWhite');
            allSelectors[a].classList.add('bordered');
        }

        let allGrids = document.getElementsByClassName('itemGrid');

        for (let a = 0; a < allGrids.length; a++) {
          allGrids[a].classList.remove('active');
        }

        this.classList.add('active');
        this.classList.add('solidWhite');

        document.getElementById('colourGrid').classList.add('active');
    }
  
    </script>    

  </body>
</html>


