    @import './partials/variables';

    

    .container {
        position: absolute;
        left: 0px;
        top: 0px;
        height: -moz-available;          
        height: -webkit-fill-available;  
        height: fill-available;
        display: flex;
        flex-direction: column;
        width: 100vw;

        .content {
            max-width: 100vw;
            margin-left: auto;
            margin-right: auto;
            padding: $container-padding;
            display: initial;
            box-sizing: border-box;
            position: relative;
            z-index: 0;

        }
    }

    .content::after {
        content: "";
        height: 100%;
        width: calc(100vw + 2px);
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(calc(-50% - 1px));
        top: 0;
    }

    .content.nonHero.featuredItems {
        flex-direction: column;
            .itemsGrid {
                z-index: 1;
                // padding-top: $spacing-xxl;
            
                .gridItem {
                    display: flex;
                    align-items: center;

                    .itemContent {
                        max-width: 416px;
                        padding-left: $spacing-regular;
                    }
                }
        }
    }

    .hexMask {
        width: 100%;
        -webkit-mask-image: url(/images/testMask.png);
        mask-image: url(/images/testMask.png);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        mask-size: 100%;
        
        img {
            width: 100%;
            // min-height: 50vw;
        }
    }


    .content.background-peach::after {
        background-color: $peach;
    }

    .content.background-lightBlue::after {
        background-color: $lightBlue;
    }

    .content.background-lightGreen::after {
        background-color: $lightGreen;
    }

    .content.background-primary::after,
    .content.background-primaryBlue::after {
        background-color: $primary;
    }

    .content.background-white::after {
        background-color: white;
    }

    .content .itemsGrid.background-peach::after {
        background-color: $peach;
    }

    .content .itemsGrid.background-lightBlue::after {
        background-color: $lightBlue;
    }

    .content .itemsGrid.background-primaryBlue::after {
        background-color: $primary;
    }

    .content .itemsGrid.background-lightGreen::after {
        background-color: $lightGreen;
    }

    .content .itemsGrid.background-white::after {
        background-color: white;
    }



    @include responsive($medium) {
        .container {
            // justify-content: end;
            .content {
                display: initial;
                max-width: 1200px;
                box-sizing: content-box;
                // margin-bottom: #{fluid($spacing-regular, $spacing-large)};
            }
        }
    }

    @include responsive($large) {
        .container {

            .content {
                width: -moz-available;          
                width: -webkit-fill-available;  
                width: fill-available;
                display: initial;
                // align-items: end;
            }
        }
        

    }
