{% extends "content-layout.njk" %}

{% set page_keywords = "Car, Configurator, OceanOutdoor" %}
{% set page_description = "Ocean Task" %}
{% set page_title = "index" %}
{% set background_colour = "red" %}


{% block pageContent %}
    <div class="content indexPage">
        <div class="backgroundImage">
            <img src="/images/indexBG.jpg"/>
        </div>

        <div class="buttons">
            <ul>
                <li>
                    <a class="fullwidth facebook bordered light" href="list.html">Login with Facebook</a>
                    <a class="fullwidth instagram bordered light" href="list.html">Login with Instagram</a>
                    <a class="fullwidth email bordered light" href="list.html">Proceed with email</a>
                </li>
            </ul>
            
        </div>
    </div>
{% endblock %}



