@import './partials/variables';

body[data-name="Design Process"] {

    .container {
        .content.nonHero .itemsGrid h2 {
            width: auto;
        }

        .content.background-white::before {
            height: 99.8%;
        }

        .content.background-white::after {
            height: 98.5%;
        }

        .content.background-white {
            img.divider:first-child {
                z-index: 1;
            }
            img.divider:nth-of-type(2) {
                z-index: 2;
            }
        }

        .content.nonHero.background-peach {
            margin-top: -3%;
            z-index: -1;
            .itemsGrid {
                h2.light {
                    color: $primary-invert;
                }
            }
            
        }

        .content.nonHero.questions {
            .itemsGrid {
                h2 {
                    color: $lightBlue;
                }
            }
        }

        .content.nonHero.feedback {
            .itemsGrid {
                h2, h3 {
                    color: $lightGreen;
                }
            }
        }
    }

    .content.nonHero {
        position: relative;
        .itemsGrid {
            h2 {
                margin-top: 0;
                margin-bottom: $spacing-regular;
                padding-left: 20px;
                padding-right: 20px;         
            }

            .blockContent div {
                margin-bottom: $spacing-small;
            }

            .blockContent h2 {
                font-size: #{fluid($spacing-xs, $spacing-small)};
                text-align: left;
                margin-bottom: 0;
                padding-left: 0;
            }

            .twoColumn {
                display: flex;
                justify-content: space-between;
                padding-left: $spacing-xs;
                padding-right: $spacing-xs;
                .columnOne,
                .columnTwo {
                }

                .columnOne {
                    max-width: 375px;
                    width: 50%;
                    display: none;
                    img {
                        width: 100%;
                    }

                    .hexShape.right {
                        margin-top: -26%;
                    }
                }

                .hexShape {
                    width: fit-content;
                }



                .hexShape.left,
                .hexShape.right {
                    width: 70%;
                }

                .hexShape.left {
                    margin-right: auto;
                }

                .hexShape.right {
                    margin-left: auto;
                }
            }
        }

        .itemsGrid.questions {
            z-index: 0;
            .divider {
                z-index: -1;
                bottom: -1%;
                position: absolute;
            }
        }


        .itemsGrid.thinkVisually {
            $font-size-xl : $font-size-xl * 3;
            $font-size-small : $font-size-small * 8;

            margin-top: $spacing-regular;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2 {
                margin-bottom: #{fluid($spacing-xxs, $spacing-regular)};
            }

            .eyes {
                height: #{fluid($spacing-regular, $spacing-xxl)};

                @include responsive($medium) {
                    height: calc($spacing-xxl + $spacing-regular);
                }
                width: 100%;
                max-width: 450px;
                display: flex;
                justify-content: center;
                position: relative;

                img {
                    width: #{fluid($font-size-small, $font-size-xl)};
                    margin-bottom: $spacing-small;
                    position: absolute;
                }
            }            

            h3,p {
                text-align: center;
                color: $primary-invert;
            }
        }

        .itemsGrid.feedback {
            margin-top: calc($spacing-regular * 1);
            display: flex;
            flex-direction: column;
            align-items: center;
            .blockTwo {
                text-align: center;
            }
            
            h2 {
                margin-bottom: #{fluid($spacing-xs, $spacing-regular)};
            }

            img.loopGraphic {
                margin-bottom: $spacing-small;
                width: 70%;
            }
        }
    }

    .content.testEarly {
        z-index: -3;
        margin-top: 1.5%;
        .itemsGrid {
            margin-top: calc($spacing-regular * 1);
            h2,
            h3,
            p {
                color: $primary-invert;
            }

            h2 {
                // margin-top: $spacing-regular;
                text-align: center;
            }

            h3 {
                margin-top: 0;
            }

            .blockOne {
                .imageWrapper {
                    position: relative;
                    width: auto;
                    display: none;
                }



                .item .imageWrapper.active {
                    img:nth-child(2) {
                        display: none;
                    }
                }

                .item .imageWrapper.active::after {
                    content: "";
                    top: 47px;
                    position: absolute;
                    width: 200px;
                    height: 200px;
                    z-index: 10;
                    background-size: cover;
                    left: 26px;
                }

                .item .imageWrapper.active.userTesting::after {
                    background-image: url("../icons/User Testing_active.svg");
                }

                .item .imageWrapper.active.abTesting::after {
                    background-image: url("../icons/AB Testing_active.svg");
                }

                .item .imageWrapper.bugFixing.active::after {
                    background-image: url("../icons/Bugs_active.svg");
                }

                .item .imageWrapper.uat.active::after {
                    background-image: url("../icons/Checklist_active.svg");
                }

                .content {
                    display: flex;
                    flex-direction: column;
                }
                .content::after {
                    display: none;
                }

                img:nth-child(2) {
                    position: absolute;
                    width: 200px;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%,-50%);
                }
            
            }

        }
    }

    .content.thinkVisually,
    .content.feedback {
            .divider {
                position: relative;
                bottom: -5vw;
                z-index: 2;
            }
    }

    .content.feedback {
        z-index: -2;
    }

    .content.background-white.feedback::before {
        border-left: calc(100vw * 0.03) solid $lightGreen;
        border-right: calc(100vw * 0.03) solid $lightGreen;
    }




    .content.background-white::before {
        content: "";
        height: 100%;
        width: calc(100vw + 2px);
        position: absolute;
        z-index: -1;
        left: 50%;
        transform: translateX(calc(-50% - 1px));
        box-sizing: border-box;
        border-left: calc(100vw * 0.03) solid $lightBlue;
        border-right: calc(100vw * 0.03) solid $lightBlue;
        z-index: 2;
        pointer-events: none;
    }

    .content.questions.background-white::after {
        border-left: calc(100vw * 0.03) solid $lightBlue;
        box-sizing: border-box;
    }

    .content.background-white.getInTouch {
        flex-direction: column;
        // max-width: 966px;
        h2 {
            margin-top: $spacing-small;
            margin-bottom: $spacing-small;
        }
    }

    .content.background-white.getInTouch::before,
    .content.background-white.getInTouch::after {
        display: none;
    }

    .container {
        footer {
            padding-top: 0;
            background-color: transparent;
            .button.big.invert::before,
            .button.big.invert::after,
            .button.big.invert .buttonLink::before,
            .button.big.invert .buttonLink::after {
                background-image: url(../images/whiteTriangle.svg);
            }

            .button.big.invert {
                background: black;
                border-color: black;

            }

            ul {
                li {
                    color: black;
                }

                li::before {
                    filter: brightness(0);
                }
            }

            .subText {
                p {
                    color: black;
                    opacity: 0.1;
                }
            }

        }
    }
}



@include responsive($medium) {
    body[data-name="Design Process"] {
        .container {
                .content.background-white::before {
                    content: "";
                    height: 98%;
                    width: calc(100vw + 2px);
                    position: absolute;
                    z-index: -1;
                    left: 50%;
                    transform: translateX(calc(-50% - 1px));
                    box-sizing: border-box;
                    border-left: $spacing-xs solid $lightBlue;
                    border-right: $spacing-xs solid $lightBlue;
                    z-index: 2;
                    pointer-events: none;
                }
        
                .content.background-white::after {
                    border-left: $spacing-xs solid $lightBlue;
                    box-sizing: border-box;
                }
        
                .content .itemsGrid.thinkVisually {
                    .blockTwo {
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: row;
                        max-width: 940px;
                        div {
                            width: 50%;
                            padding-left: 20px;
                            padding-right: 20px;
                            box-sizing: border-box;
                        }
        
                    }
                }

                .content.thinkVisually {
                    .divider {
                        bottom: -8vw;
                    }
                }

                .content.feedback::after {
                    display: none;
                }

                .content.feedback::before {
                    border-left: calc(100vw * 0.03) solid $lightGreen;
                    border-right: calc(100vw * 0.03) solid $lightGreen;
                }

                .content .itemsGrid.feedback {
                    margin-top: calc($spacing-regular * 1.7);
                    
                    h2 {
                        margin-bottom: #{fluid($spacing-xs, $spacing-regular)};
                    }

                    img.loopGraphic {
                        max-width: 447px;
                    }
                    
                    .blockTwo {
                        max-width: 700px;
                        text-align: left;
                        p {
                            column-count: 2;
                        }


                    }
                }

                .content .itemsGrid.testEarly {
                    .blockOne {
                        .item {
                            display: flex;
                            align-items: center;

                            .content {
                                display: flex;
                                flex-direction: column;
                                max-width: 550px;
                                width: 33%;
                                margin: 0;
                                // box-sizing: border-box;
                            }

                            .imageWrapper {
                                width: auto;
                                display: block;
                                img {
                                    display: block;
                                }
                            }
                        }

                        .item:nth-of-type(2n + 1) {
                            flex-direction: row;

                                .content {
                                    h3,
                                    p {
                                        text-align: right;
                                    }
                                }
                        }

                        .item:nth-of-type(2n) {
                            flex-direction: row-reverse;

                            .imageWrapper {
                                img {
                                    float: right;
                                }
                            }
                        }

                    } 
                }

                .content.background-white.getInTouch {
                    h2 {
                        margin-top: 0;
                    }
                }
        }
    }
}

@include responsive($large) {
    body[data-name="Design Process"] {
        .content.background-white::before {
            content: "";
            height: 100%;
            width: calc(100vw + 2px);
            position: absolute;
            z-index: -1;
            left: 50%;
            transform: translateX(calc(-50% - 1px));
            box-sizing: border-box;
            border-left: $spacing-small solid $lightBlue;
            border-right: $spacing-small solid $lightBlue;
            z-index: 2;
            pointer-events: none;
        }

        .content.background-white.feedback::before {
            border-left: $spacing-small solid $lightGreen;
            border-right: $spacing-small solid $lightGreen;
        }

        
    
        .content.background-white::after {
            border-left: $spacing-small solid $lightBlue;
            box-sizing: border-box;
        }

        .container {
            .content.background-white::before {
                height: 96%;
            }
            .content.background-white::after {
                height: 98%;
            }
        }

        .content.nonHero {
            .itemsGrid {   

                .blockContent h2 {
                }
                .twoColumn {
                    height: auto;
                    margin-bottom: $spacing-xxl;
                    .blockOne {

                    }
                    .columnOne,
                    .columnTwo {
                            .description {
                                // columns: 2;
                            }
                    }
        
                    .columnOne {
                        display: block;
                        width: 30%;
                        padding-left: 20px;
                        padding-right: 20px;
                        height: fit-content;
                        position: sticky;
                        top: 0;

                        .hexShape:nth-of-type(3) {
                            margin-top: -26%;
                        }

                        .hexShape:nth-of-type(5) {
                            margin-top: -26%;
                        }

                        .hexShape {
                            height: 260px;
                            width: 250px;
                            position: relative;
                        }

                        .hexShape::after {
                            content: '';
                            background-image: url('../images/hexBlank.svg');
                            background-size: contain;
                            background-repeat: no-repeat;
                            width: 250px;
                            height: 1200px;
                            position: absolute;
                            top: 0px;
                        }

                        .hexShape.active::after {
                            background-image: url('../images/hexFilled.svg');
                        }

                        .hexShape.right:after {
                            left: 10%;
                            top: 10%;
                        }

                        .hexShape:nth-of-type(3):after {
                            top: 20%;
                        }

                        .hexShape:nth-of-type(4):after {
                            top: 30%;
                        }

                        .hexShape:nth-of-type(5):after {
                            top: 40%;
                        }

                        .hexShape:nth-of-type(6):after {
                            top: 50%;
                        }
                    }

                    .columnTwo {
                        width: 50%;
                    }
                }
            }
        }

        .content.testEarly {
            justify-content: center;
            
            .itemsGrid.testEarly {
                .blockOne {
                    .item{
                        .content {
                            box-sizing: border-box;
                        }
                    }
                } 
            }
        }
    }
}