@import './partials/variables';

.content.indexPage {
    width: 100%;
    margin: unset;
    .backgroundImage {
        height: 100vh;
        position: absolute;
        z-index: -1;
        left: 0px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .buttons {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: -30px;
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
        ul {
            width: 100%;
            max-width: 600px;
            li {
                a {
                    margin-bottom: 8px;
                    position: relative;
                }

                a::after {
                    content: "";
                    position: absolute;
                    top: 7px;
                    left: 15px;
                    background-repeat: no-repeat;
                }

                a.facebook::after {
                    height: 16px;
                    width: 16px;
                    background-image: url(/icons/facebook.svg);
                }
                a.instagram::after {
                    height: 16px;
                    width: 16px;
                    background-image: url(/icons/instagram.svg);
                }
                a.email::after {
                    height: 16px;
                    width: 16px;
                    background-image: url(/icons/envelope.svg);
                }
            }
        }
    }
}