@import './partials/variables';

body.projectDetail {
    .hero {
        background: transparent;
        padding-top: $spacing-large;
    }

    .container {
        .content:first-child::after{
            height: 100%;
        }
        .content:first-child {
            .hero {
                justify-content: end;
            }
        }
        .content {

            .hero {
                justify-content: start;
            }

            h2 {
                font-size: #{fluid($font-size-regular, $font-size-regular)};
            }

            .itemsGrid {
                position: relative;
                h2 {
                    color: $primary-invert;
                    margin-bottom: $spacing-regular;
                    font-size: #{fluid($font-size-regular, $font-size-large)};
                }
                img {
                    width: 100%;
                    box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.10);
                    border-radius: 20px;
                }

                .imageContainer {
                    position: relative;
                    .comments {
                        top: 0px;
                        left: -10px;
                        width: 100%;
                        height: auto;
                        .commentRow:nth-of-type(3n+0){
                            .hexComment.mobile{
                                right: 0px;
                            }
                        }
                        .mobileComments {
                            .row {
                                .heading {
                                    display: flex;
                                    color: $primary-invert;
                                }
                                .body {
                                    color: $primary-invert;
                                }
                            }
                        }
                    }
                }

                .imageContainer.mobile {
                    max-width: 475px;
                    margin: auto;
                    margin-top: $spacing-large;
                    position: static;

                }

                .imageContainer.noEffects {
                    img {
                        box-shadow: none;
                        border-radius: 0;
                    }
                }
            }


        }

        .content.quote {
            flex-direction: column;
            max-width: 900px;
            margin: auto;
            padding-top: 0;
            .description {
                p {
                    column-count: 1;
                }
            }
        }

        .content.getInTouch {
            flex-direction: column;
            .itemsGrid {
                h2 {
                    color: $primary;
                    margin-bottom: $spacing-small;
                }
            }
        }

        footer {
            padding-top: 0;
            background-color: transparent;
            .button.big.invert::before,
            .button.big.invert::after,
            .button.big.invert .buttonLink::before,
            .button.big.invert .buttonLink::after {
                background-image: url(../images/whiteTriangle.svg);
            }

            .button.big.invert {
                background: black;
                border-color: black;

            }

            ul {
                li {
                    color: black;
                }

                li::before {
                    filter: brightness(0);
                }
            }

            .subText {
                p {
                    color: black;
                    opacity: 0.1;
                }
            }

        }
    }

    .bgVideo {
        position: relative;
        display: none;
        .frame {
            width: 100%;
            position: relative;
            z-index: 1;
        }

        video {
            box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.10);
        }
        
        .bgVideoViewport {
            height: calc(100% - 43px);
            width: 100%;
            position: absolute;
            top: 6%;
            left: 0px;
            z-index: 0;

            video {
                width: inherit;
                border-radius: 0 0 20px 20px;
            }
        }
    }

    @include responsive($medium) {
        .content:first-child::after{
            height: 90vh;
        }
        
        .container .content.quote {
            padding-top: $spacing-small;
            .description {
                padding-left: $spacing-regular;
                p {
                    column-count: 2;
                }
            }
        }

        .container {
            .content:first-child::after{
                height: 60%;
            }
            .content {
                max-width: 900px;

                .itemsGrid {
                    .imageContainer {
                        .comments {
                            position: absolute;
                            display: block;
                            top: -40px;
                            flex-direction: column;
                            justify-content: space-around;
                            .commentRow {
                                left: -3%;
                                position: relative;
                                display: flex;
                            }
                            .commentRow:nth-of-type(3),
                            .commentRow:nth-of-type(7),
                            .commentRow:nth-of-type(15) {
                                left: 5%;
                                position: relative;
                                .hexComment{
                                    margin-left: auto;
                                }
                            }
                            .mobileComments{
                                display: none;;
                            }

                        
                        }
                    }

                    .imageContainer.mobile {
                        .comments {
                            .commentRow {
                                left: -20%;
                            }

                            .commentRow:nth-of-type(3),
                            .commentRow:nth-of-type(7),
                            .commentRow:nth-of-type(15) {
                                left: 20%;
                            }
                        }

                        .commentRow {
                            .hexComment {
                                .image {
                                    background-image: none!important;
                                }

                                .content::before {
                                    content: '';
                                    width: 0;
                                    height: 0;
                                    border-left: 175px solid transparent;
                                    border-right: 175px solid transparent;
                                    border-top: 104px solid white;
                                    position: absolute;
                                    transform: rotate(180deg);
                                    top: -104px;
                                    left: 0px;
                                }
                            }
                        }
                    }
                    .imageContainer {
                        .commentRow {
                            .hexComment.hideImage{
                                .image {
                                    background-image: none!important;
                                }
                                .content::before {
                                    content: '';
                                    width: 0;
                                    height: 0;
                                    border-left: 175px solid transparent;
                                    border-right: 175px solid transparent;
                                    border-top: 104px solid white;
                                    position: absolute;
                                    transform: rotate(180deg);
                                    top: -104px;
                                    left: 0px;
                                }
                            }
                        }
                    }


            }
        }
    }
        .hero {
            margin: auto;
            min-height: 120vh;
            padding-top: 20%;
            min-height: 1100px;
            .bgVideo {
                display: block;
            }
            h1 {
                margin-top: $spacing-large;
            }
            h1,
            p {
                text-align: center;
            }
            .description {
                padding: 0;
                max-width: 640px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: $spacing-xs;
                p {
                    column-count: 1;
                }
            }
        }
}

    @include responsive($large) {
        .hero {
            padding-top: 20%;
        }
        .container .content.quote {
            padding-top: $spacing-large;
            padding-bottom: $spacing-large;
        }

        .container {
            .content:first-child::after{
                height: 60%;
            }
            .content {
                max-width: 900px;

                .itemsGrid {
                    .imageContainer {
                        .comments {
                            .commentRow {
                                left: -15%;
                            }

                            .commentRow:nth-of-type(3),
                            .commentRow:nth-of-type(7),
                            .commentRow:nth-of-type(15) {
                                left: 15%;
                            }
                        }
                    }

                    .imageContainer.mobile {
                        .comments {
                            .commentRow {
                                left: 0;
                            }

                            .commentRow:nth-of-type(3),
                            .commentRow:nth-of-type(7),
                            .commentRow:nth-of-type(15){
                                left: 0;
                            }
                        }

                    }
                }
            }
        }
    }
}

/*specific overides*/
body[data-name="Maruani Mercier"] {
    .container {
        .content:nth-child(4) {
            .itemsGrid {
                .imageContainer {
                    .comments {
                        .commentRow {
                            flex-direction: row-reverse;
                        }
                    }
                }
            }
        }

        .content:nth-child(2) {
            .itemsGrid {
                .imageContainer {
                    .comments {
                        .commentRow:nth-child(1) {
                            flex-direction: row-reverse;
                            margin-top: $spacing-large;
                        }
                        .commentRow:nth-child(3) {
                            flex-direction: row;
                            margin-top: $spacing-large;
                        }
                    }
                }
            }
        }
    }
}

body[data-name="Gow Langsford"] {
    .container {
        .content:nth-child(3) {
            .itemsGrid {
                .imageContainer {
                    .comments {
                        .commentRow {
                            flex-direction: row-reverse;
                            
                            @include responsive($medium) {
                                margin-top: $spacing-large;
                            }

                            .hexComment.hideImage {
                                .image{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

body[data-name="Selavy"] {
    .container {
        .content:nth-child(4) {
            .itemsGrid {
                .imageContainer {
                    .comments {
                        .commentRow:nth-child(5) {
                            @include responsive($medium) {
                                margin-top: -75%;
                            }                            
                        }
                    }
                }
            }
        }
    }
}

body[data-name="Charles Moffett"] {
    .container {
        .content:nth-child(3) {
            .itemsGrid {
                .imageContainer {
                    .comments {
                        .commentRow {
                            @include responsive($medium) {
                                margin-top: -15%;
                                flex-direction: row-reverse;
                            }                            
                        }
                    }
                }
            }
        }
    }
}
