@import './partials/variables';


div.button {
    height: 44px;
    min-width: 114px;
    border: none;
    font-family: $link-font-family;
    font-size: $link-size;
    color: $link-color;
    text-decoration: $link-underline;
    text-transform: $link-text-transform;
    letter-spacing: $link-letter-spacing;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    a.peach {
        color: $peach;
    }

    a.primaryBlue {
        color: $primary;
    }

    a.lightBlue {
        color: $lightBlue;
    }
}



.button::before,
.button::after,
.button a.buttonLink::before,
.button a.buttonLink::after {
    content: "";
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: block;
    position: absolute;
    
}

.button::before {
    left: -4px;
    top: -2px;
    transform: rotate(-45deg);
}

.button a.buttonLink::before {
    left: -4px;
    transform: rotate(225deg);
    bottom: -1px;
}


.button a.buttonLink::after {
    right: -4px;
    transform: rotate(135deg);
    bottom: -1px;
}

.button::after {
    right: -4px;
    top: -2px;
    transform: rotate(45deg);
}

.button.peach::before,
.button.peach::after,
.button.peach a.buttonLink::before,
.button.peach a.buttonLink::after {
    border-bottom: 5px solid $peach;
}

.button.lightBlue::before,
.button.lightBlue::after,
.button.lightBlue a.buttonLink::before,
.button.lightBlue a.buttonLink::after {
    border-bottom: 5px solid $lightBlue;
}

.button.black::before,
.button.black::after,
.button.black a.buttonLink::before,
.button.black a.buttonLink::after {
    border-bottom: 5px solid black;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0 $container-left-right-padding 0 $container-left-right-padding;
    flex-wrap: wrap;
}

.button.big {
    height: 89px;
    font-family: $link-font-family;
    font-size: #{fluid($font-size-xs, $font-size-small)};
    text-decoration: $link-underline;
    text-transform: $link-text-transform;
    letter-spacing: $link-letter-spacing;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 175px;
    margin-bottom: $spacing-small;
    box-sizing: content-box;
}

.button.big.invert {
    background: transparent;
    border: 6px solid white;
    box-sizing: border-box;
    a {
        color: $primary-invert;
    }   
}

.button.big.invert::before,
.button.big.invert::after,
.button.big.invert .buttonLink::before,
.button.big.invert .buttonLink::after {
    border: 0;
    background-image: url(../images/icons/lightBlueDoubleChamfer3.svg);
    height: 12px;
    width: 11px;
    transform: none;

}
.button.big.invert::before {
    top: -7px;
    left: -6px;
}

.button.big.invert::after {
    transform: rotate(90deg);
    top: -7px;
    right: -6px;
}

.button.big.invert .buttonLink::after {
    transform: rotate(180deg);
    bottom: -7px;
    right: -7px;

}

.button.big.invert .buttonLink::before {
    transform: rotate(270deg);
    bottom: -7px;
    left: -6px;
}

.button.big .buttonLink {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

@include responsive($medium) {

    .buttonContainer {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .button {

        }
    
        .button:not(:first-child) {
            margin-left: $spacing-small;
        }
    }

    .button.big {
        flex-direction: row;
        min-width: 244px;
        font-family: $link-font-family;
        font-size: $font-size-small;
        text-decoration: $link-underline;
        text-transform: $link-text-transform;
        letter-spacing: $link-letter-spacing;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}