@import './partials/variables';

nav.desktop {
    display: none;
}

nav {
    position: relative;
    z-index: 1;

    img:hover {
        cursor: pointer;
    }

    button {
        background-color: $button-background;
        border: $button-border;
        float: right;

        img {
            padding: 20px;
        }
        .open {
            display:block
        }
    }

    #overlay {
        display: none;
    }

    #overlay.open {
        display: block;
        height: 100vh;
        width: 100vw;
        background: $peach;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 1;
        
        button {
            background-color: $button-background;
            border: $button-border;
            position: relative;
            right: 9px;
            top: 9px;

        }

        ul {
            list-style-type: none;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
    
            li {
                padding-bottom: $spacing-xxs;
                a {
                    font-family: $link-font-family;
                    font-size: $link-size;
                    color: $link-color;
                    text-decoration: $link-underline;
                    text-transform: $link-text-transform;
                    letter-spacing: $link-letter-spacing;
                    padding: 10px;
                }
            }
        }
    }    
}



@include responsive($medium) {

    nav {
        display: none;

    }

    nav.desktop {
        display: block;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        background-color: $lightBlue;

        ul {
            list-style-type: none;
            height: 75px;
            align-items: center;
            padding: 0 50px;
            margin: 0;
            display: flex;

    
            li {
                padding-left: 30px;
                display: inline;

                a {
                    font-family: $link-font-family;
                    font-size: $link-size;
                    color: $link-color;
                    text-decoration: $link-underline;
                    text-transform: $link-text-transform;
                    letter-spacing: $link-letter-spacing;  
                }
            }
            
            li:first-child {
                padding-left: 0;
            }
            
        }
    }
}

