@import './partials/variables';

.hero {
    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: fit-content;
    height: fit-content;
    padding-top: calc($spacing-xxl * 2);

    h1 {
        font-size: calc($display-heading-font-size * 0.7);
        color: $display-heading-font-color;
    }

    .description {
        p {
            font-size: $body-text-font-size;
            color: $body-text-color;
            line-height: $line-height-normal;
        }
    }

    @include responsive($medium) {
        max-width: 930px;
        margin-left: auto;
        
        position:relative;

        .description {
            padding-left: $spacing-regular;

            p {
                column-count: 2;
            }
        }
    }
    
    
    @include responsive($medium) {
        min-height: unset;

    }
}


.hero.small {
    // min-height: 40vh;
    h1 {
        margin-bottom: $spacing-small;
    }
}

@include responsive($medium) {
.hero.small {
    h1 {
        margin-bottom: 0;
    }
}
}



